.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-container {
    background-color: rgb(197, 227, 245);
    padding: 2rem 4.5rem;
    max-width: 80%;
    margin: 2rem auto;
    border-radius: 15px;
    height: 45rem;
}

input {
    width: 30rem;
    border-radius: 7px;
    border: none;
    height: 2rem;
}

h2 {
    font-weight: 400;
}